#gtasalogo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  border: 5px solid #284B63;
  width: 150px;
  height: 150px;
}
#gtaheader{
  text-align: center;
  padding-top: 20px;
  text-decoration: none
}
#gtasadesc{
  padding-left: 10px;
  font-size: 20px;
}
#gtasait{
  font-weight: bold;
}
#websiteobjective{
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
#systemreq{
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
#instruction{
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
#downloadbutton{
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  border: 3px solid black;
  background-image: linear-gradient(to bottom, lightblue, #D9D9D9);
  width: 170px;
  height: 50px;
}
#note{
  text-align: center;
}
#background{
  background-color: #353535;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%, 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border: 4px solid rgba(60, 110, 113, 0.5);
}
body{
  color: #D9D9D9;
}